<div class="minor-header" *ngIf="service.revenue">
    <div style="margin:0">
        <div>Current Weekly Prize: ${{service.revenue.revenue_sum}}</div>
        <div style="font-size: 0.5em;">Ads Watched: {{service.revenue.view_count}}</div>
    </div>
</div>
<div class="main-container">
    <div class="row">
        <!--<div class="col-md-6">
            <app-payment-detail-form></app-payment-detail-form>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Card Owner</th>
                        <th>Car Number</th>
                        <th>Exp Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pd of service.list">
                        <td (click)="populateForm(pd)">{{pd.cardOwnerName}}</td>
                        <td (click)="populateForm(pd)">{{pd.cardNumber}}</td>
                        <td (click)="populateForm(pd)">{{pd.expirationDate}}</td>
                        <td>
                            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.paymentDetailId)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>-->
        <div class="col-md-12">
            <h3 class="header">
                What is CryptoIO?
            </h3>
            <p class="container-content">
                CryptoIO is a free to play mobile app where users can work to win crypto rewards by climbing the leaderboard. 
                Players win from a prize pool based on the revenue gained through ads and in-app purchases. 
            </p>
        </div>
    </div>

    <div>
        <h3 class="header">
            How to Play
        </h3>
        <div class="container-content">
            <ol style="list-style-position: inside;">
                <li>Download the mobile app on the Apple App Store or Google Play</li>
                <li>Play as a guest, or create a username/ADA crypto wallet address combo.</li>
                <li>Rank your way up the leaderboard to win the weekly reward.</li>
            </ol>
        </div>
    </div>

    <div>
        <h3 class="header">
            Leaderboard
        </h3>
        <table>
            <thead>
                <th>Rank</th>
                <th>Username</th>
                <th>Wallet</th>
                <th>High Score</th>
            </thead>
            <ng-container></ng-container>
            <tr *ngFor="let leadboardItem of service.leaderboardItemList let i = index" [attr.data-index]="i">
                <td>{{(i+1)}}</td>
                <td>{{leadboardItem.username}}</td>
                <td>{{leadboardItem.wallet}}</td>
                <td>{{leadboardItem.score}}</td>
            </tr>
        </table>
    </div>
</div>

